/*
$azure: #054ec6;
$azure: #4286f4;
$azure: #7023BE;
*/
/* Avstand fra tittel til navbar */
.headtitle {
  margin-top: 18px;
  font-family: "Cinzel", serif;
  font-size: 3em;
  color: #003aa0; }

/* Avstand fra subnav til menyen */
.headmenu {
  margin-bottom: 20px; }

.meny-link {
  font-family: "Cinzel", serif;
  color: #cec6c8;
  font-size: 1.1em; }

.meny-link:hover {
  color: #003aa0;
  text-decoration: underline; }

#dagens {
  margin-bottom: 30px;
  text-align: center; }

/* Avstand mellom hvert item */
.menu_div {
  padding: 10px 5px;
  margin-bottom: 10px;
  border: 1px transparent solid;
  background-color: transparent;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in; }

@media screen and (min-width: 960px) {
  .menu_table {
    width: 90%;
    margin: auto; }
  .menu_div:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px; } }

@media screen and (max-width: 960px) {
  .menu_table {
    width: 100%; } }

.meny-item {
  font-family: "Cinzel", serif; }

.meny-name, .meny-name-pizza {
  font-family: "Cinzel", serif;
  font-size: 1.3em;
  width: 100%;
  border-bottom: 1px #cec6c8 solid;
  padding-bottom: 5px; }

.meny-price, .meny-price-pizza {
  font-family: "Cinzel", serif;
  font-size: 1.1em;
  font-style: italic;
  width: 100%;
  border-bottom: 1px #cec6c8 solid; }

.meny-name-pizza {
  width: 30%; }

.meny-price-pizza {
  width: 70%;
  text-align: right; }

.meny-description {
  font-family: "Caveat", cursive;
  font-size: 1.4em;
  padding-top: 5px;
  font-weight: 100;
  width: 100%; }
