/*
$azure: #054ec6;
$azure: #4286f4;
$azure: #7023BE;
*/
body {
  height: 100%;
  margin: 0;
  background-repeat: repeat;
  background-image: url("/static/img/ep_naturalblack_lighter.png"); }

* {
  color: #cec6c8; }

th {
  width: 100%; }

* {
  color: #cec6c8; }

a {
  text-decoration: none;
  color: #cec6c8; }

a:hover {
  color: #003aa0; }

.nopadding {
  margin: 0;
  padding: 0; }

.fill {
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 0; }

.lg-only {
  color: #003aa0; }

@media screen and (min-width: 960px) {
  .lg-only {
    display: initial; } }

@media screen and (max-width: 960px) {
  .lg-only {
    display: none; } }
