
#sveins-logo {
  width: 170px;
}

th {
  width: 100%;
}
.tables {
  padding-bottom: 20px;
}
.meny-priser {
  font-weight: normal;
  font-style: italic;
  white-space: nowrap;
}
.tjenester {
  margin-bottom: 25px;
  padding-bottom: 25px;
}
.meny-description {
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: repeat;
  background-image: url("/static/img/ep_naturalblack.png");


/*
background-image: url("/static/img/footer_lodyas.png");
background-image: url("/static/img/tweed.png");
background-image: url("/static/img/topography.png");
background-image: url("/static/img/stardust_light.png");
background-image: url("/static/img/stardust.png");
*/
}
nav {
  /*
  background-color: #161616;
  border-bottom: 1px black solid;
  */
}



h1, p, a, h4, h5, h3, h1, h2, h6, span, td, th {
  color: #cec6c8;
  font-family: 'K2D', sans-serif;

}


a {
  text-decoration: none;
}

.nav-link {
  color: #cec6c8;
} .nav-link:hover {
  color: #7023BE;
  text-decoration: underline;

} .active {
  color: #7023BE;
  text-decoration: underline;

}

.tjenester-header {
  text-decoration: underline;
}
.tjenester-description {
    font-family:monospace;
}
/* MENYER.HTML */

/* TEXT COLOR */

.meny-heading {

}
.meny-description {


}
.meny-price {

}
/* TEXT COLOR END */

}
.meny-item {
  font-family: 'K2D', sans-serif;
}
.menu_table {
  margin-bottom: -16px;
}
.edit_form {
  margin-bottom: 2px;
}

.headtitle {
  margin-top: 18px;
    color: #7023BE;
}
.headmenu {
  margin-bottom: 50px;
}
.meny-link {

} .meny-link:hover {
  color: #7023BE;
  text-decoration: underline;
}
.editmenu {
  color: #cec6c8;
  font-family: 'K2D', sans-serif;
  border-radius: 0px;
}
.activemenu {
    color: #cec6c8;
    font-family: 'K2D', sans-serif;
    border-radius: 0px;
    background-image: url("/static/img/ep_naturalblack.png");
    border: 1px #cec6c8 solid;
} .activemenu:focus, .activemenu:active {
    color: #cec6c8;
    background-image: url("/static/img/ep_naturalblack.png");
}
.col-lg-6 > img {
  padding: 0;
  margin:0;
  width: 2000px;
}
.fill {
   margin: 0 auto;
   min-width: 100%;
   min-height: 100%;
   height: 100%;
   padding: 0;
}
.nopadding {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 900px) {
  #index-logo {
    margin-top: 2%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 900px) {
  #index-logo {
    margin-top: 10%;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.index-container {
  width: 95%;
  display: block;
  margin: 0 auto;
}


.index-col {
  margin-top: 50px;
}

.index-card {
  background-color: black;
  height: 500px;
  margin: -16px;
  border: 1px black solid;


  overflow: hidden;

  line-height: 500px;
  /*
  border: 2px black solid;
  */
  text-align: center;
}
.inner-index-card {
  height: 100%;
  width: 100%;


  background-color: black;
  background-size: cover;
  background-position: center;

  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

} .inner-index-card:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);

  cursor: pointer;
}

.index-link {
  width: 100%;
  line-height: normal;
  /*
  background-image: url("/static/img/ep_naturalblack.png");
  */
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  font-size: 200%;


  transition: all 1.5s;
}
.inner-index-card:hover .index-link {
  font-size: 240%;
}

#index-meny {
  background-image: url('sveins1.jpg');
}

#index-catering {
  background-image: url('sveins3_re.jpg');

}

#index-tjenester {
  background-image: url('sveins8.jpg');

}

#index-kontakt {
  background-image: url('sveins6.jpg');

}

.index-items {
  font-style: italic;
  font-weight: bold;
  font-size: 120%;
}

/* KONTAKT OSS */

.kontakt-title {
  margin-top: 18px;
  margin-bottom: 40px;
    color: #7023BE;
}

.kontakt-liste {
  list-style: none;
  padding: 0px;
  color: #cec6c8;
}
.kontakt-info {
  padding-bottom: 80px;
}

.kontakt-info > table {
}
#facebook-icon-contact {
  width: 50px;
}
.openings {
  padding-bottom: 80px;
}
.openings > table {

}

iframe {
  border: 1px #cec6c8 solid;
  margin: 0px;
  padding: 0px;
}
#map {
  padding: 0px;
  margin: 0px;
  height: 400px;
  border: 1px black solid;
}


.kontakt-skjema {
  padding: 30px;
  padding-bottom: 50px;
  padding-top: 0px;

}
.kontakt-skjema > form > input {
  margin-bottom: 5px;
  border-radius: 2px;
  background-image: url("/static/img/ep_naturalblack.png");
  color: #cec6c8;
} .kontakt-skjema > form > input:focus {
  color: #cec6c8;
}
.kontakt-skjema > form > textarea {
  background-image: url("/static/img/ep_naturalblack.png");
  color: #cec6c8;

} .kontakt-skjema > form > textarea:focus {
  color: #cec6c8;
}
.kontakt-skjema > form > button {
  margin-top: 5px;
  border-radius: 0px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #cec6c8;
  color: black;
  border: 1px black solid;
} .kontakt-skjema > form > button:hover {
  background-color: #b2aeb0;
  color: black;
  border: 1px black solid;
} .kontakt-skjema > form > button:active {
  background-color: red;
}
.head-kontakt {
  margin-bottom: 500px;
}

/* FOOTER */
#footer-container {
  background-image: url("/static/img/ep_naturalblackest.png");
  margin-top: 200px;
  border-top: 1px gray solid;
}
#footer-contact > li{
  color: #cec6c8;
  padding: 5px;
}#footer-menu > li {
}

.social-media-button {
  text-align: center;
}
#facebook-icon {
  width: 9%;
  text-align: center;
}
@media (max-width: 900px) {
  #facebook-icon {
    width: 50px;
    text-align: center;
  }
}
.footer-copyright {
  background-color: black;
}

/* END FOOTER */

.container {
  min-height: 580px;
}
