<!DOCTYPE html>
<html>

  <head>

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-KSRJ8WH');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128313819-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-128313819-1');
    </script>

    <!-- LANGUAGE -->
    <html lang="NO">


    <!-- FAVICON -->

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ title }}{% endblock %} | Sveins Grill | Danmarksplass, Bergen</title>

    <meta name=”description” content=”{{ description }}”>


    <!-- FONTS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300|Kaushan+Script|Reenie+Beanie|Unica+One" rel="stylesheet">

    <!-- OLD OLD
    <link href="https://fonts.googleapis.com/css?family=Caveat|Cinzel" rel="stylesheet">
    -->

    <!-- MISC -->
    <meta name="google-site-verification" content="y4WS_DnPmJh7oyHUkeomnhwaWzPw0qdoy0xEXnlLe7I" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.min.js') }}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </head>

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSRJ8WH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

  <div class="transition-container">
    <div class="transition">
    </div>
  </div>


    <nav class="navbar navbar-expand-lg navbar-expand-lg">

      <a class="navbar-brand nav-home" href="{{ url_for('index') }}">
        <img
          src="{{ url_for('static', filename="img/logo_v4.png") }}"
          class="d-inline-block align-top"
          id="sveins-logo"
          alt="Sveins Grill Logo"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-reorder" style="font-size: 26px;"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        {% set active_page = title %}


          <!-- CONSUMER NAVBAR -->
          {% set navigation_bar = [
              ("/meny/middag", "/redigering/middag", 'Overtidsmat & Meny'),
              ("/catering/forretter", "/rediger_catering/forretter", 'Catering'),
              ('/grillmat', "/rediger_grill", 'Grillmat'),
              ('/tjenester', "/rediger_tjenester", 'Tjenester'),
              ('/kontakt-oss', "/kontakt-oss", 'Kontakt oss')
            ] -%}


          {% for href, edit, caption in navigation_bar %}

            <li class="nav-item navigation">

              <a
                {% if caption == active_page %}
                  class="nav-link active-header"
                {% else %}
                  class="nav-link main-nav"
                {% endif %}

                {% if 'username' in session %}
                  href="{{ edit|e }}"
                {% else %}
                  href="{{ href|e }}"
                {% endif %}
              >{{ caption|e }}</a>

            </li>
            {% endfor %}


        </ul>
      </div>
    </nav>

    <div class="container">


      <h1 align="center" class="headtitle">
         <span class="lg-only">&#9830;</span> {{ header }} <span class="lg-only">&#9830;</span></h1>

      {% block body %}
      {% endblock %}

      {% include "footer.html" %}
  </div>

  </body>
</html>
