        <!-- BUTTONS -->
        <div class="row">

          <!-- SUBMIT -->
          <button
            class="
                    btn
                    btn-link
                    hidden
                    submit-button
                  "
            type="submit"
            >submit
          </button>

          <!-- RESET -->
          <button
            class="
                    btn
                    btn-link
                    hidden
                    reset-button
                  "
            type="reset"
            >reset
          </button>

          <!-- REDIRECTION PURPOSES -->
          <input type="text" name="type" value="{{ type }}"  style="display: none;"/>

        </form>


        <!-- DELETE -->
        <!-- DELETE -->
        <!-- DELETE -->
        <form action="{{ url_for('delete', id=item.id )}}" method="post" class="delete-form">

          <!-- SLETT BUTTON -->
          <button
            class="
                    btn
                    btn-link
                    hidden
                    delete-button
                  "
            type="button"
            >slett
          </button>

          <p class="usure">sikker?</p>

          <!-- YES -->
          <button
            class="
                    btn
                    btn-link
                    yes-no
                  "
            value="yes"
            >Ja
          </button>


          <!-- NO -->
          <button
            class="
                    btn
                    btn-link
                    yes-no
                    no
                  "
            >Nei
          </button>

          <!-- REDIRECTION PURPOSES -->
          <input
            type="text"
            name="type"
            value="{{ type }}"
            style="display: none;"
          />

        </form>
