.koldtbord-header {
  text-decoration: underline; }

.koldtbord-price {
  text-decoration: underline;
  text-align: right; }

.koldtbord-name {
  font-size: 1.1em;
  font-weight: bold; }

.koldtbord-desc {
  font-style: italic; }
