/*
$azure: #054ec6;
$azure: #4286f4;
$azure: #7023BE;
*/
.kontakt-title {
  margin-top: 18px;
  margin-bottom: 40px;
  font-family: "Cinzel", serif;
  font-size: 3em;
  color: #003aa0; }

.kontakt-liste {
  list-style: none;
  padding: 0px;
  color: #cec6c8; }

.kontakt-info {
  padding-bottom: 80px; }

#facebook-icon-contact {
  width: 50px; }

.openings {
  padding-bottom: 80px; }

#map {
  padding: 0px;
  margin: 0px;
  height: 400px;
  border: 1px black solid; }

.kontakt-skjema {
  padding: 30px;
  padding-bottom: 50px;
  padding-top: 0px; }

.kontakt-skjema > form > input {
  margin-bottom: 5px;
  border-radius: 2px;
  background-image: url("/static/img/ep_naturalblack.png");
  color: #cec6c8; }

.kontakt-skjema > form > input:focus {
  color: #cec6c8; }

.kontakt-skjema > form > textarea {
  background-image: url("/static/img/ep_naturalblack.png");
  color: #cec6c8; }

.kontakt-skjema > form > textarea:focus {
  color: #cec6c8; }

.kontakt-skjema > form > button {
  margin-top: 5px;
  border-radius: 0px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #cec6c8;
  color: black;
  border: 1px black solid; }

.kontakt-skjema > form > button:hover {
  background-color: #b2aeb0;
  color: black;
  border: 1px black solid; }

.kontakt-skjema > form > button:active {
  background-color: red; }

.head-kontakt {
  margin-bottom: 500px; }
