/*
$azure: #054ec6;
$azure: #4286f4;
$azure: #7023BE;
*/
#sveins-logo {
  width: 170px; }

.main-nav {
  font-size: 1em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #cec6c8;
  animation: hover-colors 5s; }

.main-nav:hover {
  color: #003aa0;
  text-decoration: underline; }

@keyframes hover-colors {
  0% {
    color: #003aa0; }
  100% {
    color: #7023BE; } }

.separator {
  display: block;
  padding: .5rem .2rem;
  cursor: default; }
