/*
$azure: #054ec6;
$azure: #4286f4;
$azure: #7023BE;
*/
.editmenu {
  color: #cec6c8;
  font-family: 'K2D', sans-serif;
  border-radius: 0px; }

.edit_form {
  margin-bottom: 2px; }

.activemenu {
  color: #cec6c8;
  font-family: 'K2D', sans-serif;
  border-radius: 0px;
  background-image: url("/static/img/ep_naturalblack.png");
  border: 1px #cec6c8 solid; }

.activemenu:focus, .activemenu:active {
  color: #cec6c8;
  background-image: url("/static/img/ep_naturalblack.png"); }
