/* COLORS */
/* COLORS */
/* COLORS */
/* COLORS */
/*
$grape: #7023BE;
$azure: #0e429e;
*/
/* FONTS */
/* FONTS */
/* FONTS */
/* FONTS */
/* SIZES */
/* SIZES */
/* SIZES */
/* SIZES */
/* TOOLS */
/* TOOLS */
/* TOOLS */
/* TOOLS */
/* INPUTS */
/* INPUTS */
/* INPUTS */
/* INPUTS */
/* TEXTS */
/* TEXTS */
/* TEXTS */
/* TEXTS */
/* BUTTONS */
/* BUTTONS */
/* BUTTONS */
/* BUTTONS */
/* CONTAINERE */
/* CONTAINERE */
/* CONTAINERE */
/* CONTAINERE */
/* Lager plass mellom footer og content */
.container {
  min-height: 580px; }

#footer-container {
  margin-top: 200px;
  border-top: 1px rgba(77, 77, 77, 0.5) solid;
  background-color: rgba(255, 255, 255, 0.5); }

.kontakt-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto; }

.copyright-container {
  border-top: 1px rgba(77, 77, 77, 0.5) solid;
  background-color: rgba(255, 255, 255, 0.5); }

/* MISC */
/* MISC */
/* MISC */
/* MISC */
#footer-contact > li {
  padding: 5px;
  color: black; }

.active-footer {
  color: #0f5094;
  text-decoration: underline; }

#facebook-icon {
  width: 9%; }

@media (max-width: 900px) {
  #facebook-icon {
    width: 50px;
    text-align: center; } }

/* LOGIN FORM */
/* LOGIN FORM */
/* LOGIN FORM */
/* LOGIN FORM */
.login-input {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 2px; }

.login-input:focus {
  color: black;
  background: rgba(255, 255, 255, 0.5); }

.login-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

.login-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

.login-input::placeholder {
  color: rgba(255, 255, 255, 0.5); }

.log-button {
  font-size: 1em;
  color: black;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 2px;
  font-family: 'Roboto',sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .log-button:hover {
    background-color: black;
    color: white; }
  .log-button:active {
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 7px #0f5094;
    box-shadow: 0px 0px 7px #0f5094; }
  .log-button:focus {
    color: black;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 4px #0f5094;
    box-shadow: 0px 0px 4px #0f5094; }

.login-button:active {
  background-color: black; }

.log-button {
  font-size: 1em;
  color: black;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 2px;
  font-family: 'Roboto',sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .log-button:hover {
    background-color: black;
    color: white; }
  .log-button:active {
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 7px #0f5094;
    box-shadow: 0px 0px 7px #0f5094; }
  .log-button:focus {
    color: black;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 4px #0f5094;
    box-shadow: 0px 0px 4px #0f5094; }
